<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/css?family=Amatic+SC|Architects+Daughter|Audiowide|Bad+Script|Black+Ops+One|Bungee+Shade|Cabin+Sketch|Comfortaa|Coming+Soon|Dancing+Script|Fredericka+the+Great|Gloria+Hallelujah|Homemade+Apple|Inconsolata|Indie+Flower|Josefin+Sans|Kavoon|Love+Ya+Like+A+Sister|Luckiest+Guy|Monoton|Pacifico|Patrick+Hand|Patrick+Hand+SC|Permanent+Marker|Press+Start+2P|Quicksand|Rock+Salt|Rubik|Saira+Semi+Condensed|Scope+One|Shadows+Into+Light|Sigmar+One|Space+Mono|VT323|Walter+Turncoat|Yatra+One" rel="stylesheet">
    <link rel=" stylesheet" href="~/Content/StyleSheet1.css" type="text/css" media="all" />
	<link rel=" stylesheet" href="~/Content/sss/style.css" type="text/css" media="all" />
	<title>@ViewBag.Title - Eco</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-image:linear-gradient(black, transparent);">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
           @Html.ActionLink("Ecologia", "Index", "Home", new { area = "" }, new { @class = "navbar-brand"})
            </div>
            <div class="navbar-collapse collapse"style="font-family: 'Monoton', cursive;">
				<ul class="nav navbar-nav" data-toggle="dropdown">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" style="font-family: 'Monoton', cursive;">Índice<b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="#">Información</a></li>
							<li>@Html.ActionLink("Noticias","Noticias","Home")</li>
							<li>@Html.ActionLink("Cambio Climático", "Cambio", "Home")</li>
							<li><a href="#">Noticias</a></li>
							<li><a href="#">Proyectos</a></li>
							<li class="divider"></li>
							<li><a href="#">Nutrición</a></li>
							<li><a href="#">Tips</a></li>
							<li class="divider"></li>
							<li><a href="#">+</a></li>
						</ul>
					</li>
				</ul>
                <ul class="nav navbar-nav">
					<li>@Html.ActionLink("Usuarios", "About", "Home")</li>
                    <li>@Html.ActionLink("Foro", "Contact", "Home")</li>
					<li>@Html.ActionLink("Nosotros", "Comit", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Comunidad it.</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
	<script src="particles.js"></script>
	<script src="particulas.js"></script>
</body>
</html>

<!--BOTON A-->
<script>
	$(document).ready(function () {
		$('#op').click(function () {
			$('div').replaceWith("Bu!");
		});
	});
</script>
<!--FIN DEL BOTON A-->
<!--RELOJ-->
<script language="JavaScript">
	function mueveReloj() {
		momentoActual = new Date()
		hora = momentoActual.getHours()
		minuto = momentoActual.getMinutes()
		segundo = momentoActual.getSeconds()
		horaImprimible = hora + " : " + minuto + " : " + segundo
		document.form_reloj.reloj.value = horaImprimible
		setTimeout("mueveReloj()", 1000)
	}
</script>
<!--FIN DE RELOJ-->

<!--EFECTO PARALLAX con SCROLL--
<script>
	$(document).ready(function () {

		var height = $(window).height();

		ajustesIniciales();


		function ajustesIniciales() {
			$("section#body").css({ "margin-top": height - 80 + "px" });
		}


		$(document).scroll(function () {
			var scrollTop = $(this).scrollTop();
			var pixels = scrollTop / 70;

			if (scrollTop < height) {
				$("section#contenedor_general").css({
					"-webkit-filter": "blur(" + pixels + "px)",
					"background-position": "center -" + pixels * 10 + "px"
				});

			}

		});

</script>